@import url('https://fonts.googleapis.com/css?family=Oxygen+Mono|Roboto+Slab');

$drawer-bg-color: #424242;
$drawer-fg-color: #fafafa;

$primary-color: #009688;
$body-bg-color: #f7f7f7;

$article-card-bg-color: #fcfcfc;
$article-card-fg-color: #424242;
$article-font-size: 18px;

// overwrite mdl color
// $color-accent: '0, 96, 57';
