.cd-article-info {
    max-width: 800px;
    margin: 30px auto 0px auto;
    padding: 20px 60px;
    background-color: $article-card-bg-color;
    outline: none;

    color: $article-card-fg-color;
    font-size: $article-font-size;
    min-height: 100px;

    @media screen and (max-width: $layout-screen-size-threshold) {
        padding: 10px;
    }

    .cd-article-info-title {
        margin: 0px;
        padding: 0px;
        letter-spacing: 1px;
        font-size: 175%;
        font-weight: bold;
    }

    i {
        color: lighten($article-card-fg-color, 15%);
        vertical-align: middle;
        font-size: $article-font-size + 2px;
    }

    a {
        color: $primary-color;
        text-decoration: none;
        font-size: $article-font-size - 2px;

        &:hover {
            color: lighten($primary-color, 10%);
        }
    }

    .cd-article-info-category {
        margin-top: 2px;
    }

    .cd-article-info-tags {
        color: lighten($article-card-fg-color, 20%);
        margin-top: 2px;
    }

    .cd-article-info-author {
        margin-top: 2px;
        color: lighten($article-card-fg-color, 20%);
        font-size: $article-font-size - 2px;
    }
}
