.cd-article-card {
    max-width: 800px;
    margin: 30px auto 0px auto;
    padding: 20px 60px;
    background-color: $article-card-bg-color;
    outline: none;

    @media screen and (max-width: $layout-screen-size-threshold) {
        padding: 10px;
    }

    .cd-article-card-category {
        font-size: $article-font-size;
        padding: 40px 60px 0px 60px;
        color: $primary-color;
        text-decoration: none;
        font-weight: normal;

        @media screen and (max-width: $layout-screen-size-threshold) {
            padding: 10px 15px 0px 15px;
        }
    }
}
