.cd-nav-buttons {
    position: fixed;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    width: 54px;
    height: 80px;

    @media screen and (max-width: $layout-screen-size-threshold) {
        right: 10px;
        width: 48px;
        height: 80px;
    }

    .cd-nav-button-up, .cd-nav-button-down {
        position: absolute;
        color: white;
        background-color: rgba($drawer-bg-color, 0.5);
        border-radius: 2px;
        height: 48%;
        width: 100%;
        min-width: 100%;
        padding: 0px 10px;

        &:hover {
            background-color: rgba($drawer-bg-color, 0.9);
        }
    }

    .cd-nav-button-up {
        top: 0;
        i {
            transform: rotate(90deg);
        }
    }

    .cd-nav-button-down {
        bottom: 0;
    }
}
