.rst-content {
    color: $article-card-fg-color;
    font-size: $article-font-size;

    .basic {
        color: $article-card-fg-color;
        font-family: 'Roboto Slab', sans;
        font-size: $article-font-size;
    }

    .mono {
        color: $article-card-fg-color;
        font-family: 'Oxygen Mono', monospace;
        font-size: $article-font-size;
        background-color: lighten($article-card-bg-color, 2%);
    }

    h1 {
        @extend .basic;
        letter-spacing: 1px;
        font-size: 175%;
    }
    h2 {
        @extend .basic;
        font-size: 150%;
    }

    p {
        @extend .basic;
        white-space: pre-wrap;
    }

    // inline literal
    tt {
        @extend .mono;
        color: #0288d1;
        padding-left: 2px;
        padding-right: 2px;
        font-size: $article-font-size - 2px;
    }

    // literal block
    pre.literal-block {
        @extend .mono;
        padding: 5px 5px;
        border: 1px solid #ccc;
        overflow: auto;
        white-space: pre-wrap;
        font-size: $article-font-size - 2px;
    }

    // code block
    table.highlighttable {
        table-layout: fixed;
        width: 100%;
        padding: 5px;
        border: 1px solid #ccc;
        background-color: lighten($article-card-bg-color, 2%);

        tbody, tr, td {
            background-color: lighten($article-card-bg-color, 2%);
        }

        pre, span {
            // not using @extend .mono to prevent
            // overwriting pygments.css color
            font-family: 'Oxygen Mono', monospace;
            background-color: lighten($article-card-bg-color, 2%);

            margin: 0;
            padding: 0;
            font-size: $article-font-size - 4px;
            line-height: ($article-font-size - 4px) * 1.25;
        }

        td.linenos {
            padding: 1px 0px 1px 0px;
            width: 30px;
            vertical-align: top;
        }
        td.code {
            padding: 1px 0px 1px 12px;
            vertical-align: top;

            .highlight {
                overflow-y: hidden;
                overflow-x: auto;
            }

            pre {
                white-space: pre;
            }
        }
    }

    // anchor, link
    a {
        @extend .basic;
        text-decoration: none;
        font-size: inherit;

        &.toc-backref {

        }

        &.reference {
            color: $primary-color;

            &:hover {
                color: lighten($primary-color, 10%);
            }
        }
    }

    // list
    ul, ol, li {
        @extend .basic;
        font-size: $article-font-size - 2px;
    }

    // sidebar
    .sidebar {
        @extend .basic;
        float: right;
        border: none;
        margin-left: 10px;
        padding-left: 10px;

        @media screen and (max-width: $layout-screen-size-threshold) {
            width: 100%;
            border-bottom: 1px solid #ccc;
            margin-left: 0;
            margin-bottom: 10px;
            padding-left: 0;
        }

        .sidebar-title {
            text-align: center;
            border-bottom: 1px solid #ccc;
        }
    }
}
