{% macro article_info(article, category, id_prefix) %}

<div class="cd-article-info mdl-cell mdl-cell--12-col mdl-card mdl-shadow--8dp">

    <!-- title -->
    <h1 class="cd-article-info-title">
        {{ article.title }}
    </h1>

    <!-- category -->
    <div class="cd-article-info-category">
        <i class="material-icons" id="{{ article.url }}-info-category">view_list</i>
        <div class="mdl-tooltip mdl-tooltip--top" data-mdl-for="{{ article.url }}-info-category">
            Category
        </div>
        &nbsp;
        <a href="{{ SITEURL }}/{{ category.url }}">
            {{ category }}
        </a>
    </div>

    <!-- tags -->
    <div class="cd-article-info-tags">
        <i class="material-icons" id="{{ article.url }}-info-tags">local_offer</i>
        <div class="mdl-tooltip mdl-tooltip--top" data-mdl-for="{{ article.url }}-info-tags">
            Tag
        </div>
        &nbsp;
        {% for tag in article.tags %}
            {% if not loop.first %}
                ,&nbsp;
            {% endif %}
            <a href="{{ SITEURL }}/{{ tag.url }}">
                {{ tag }}
            </a>
        {% endfor %}
    </div>

    <!-- author & time -->
    <div class="cd-article-info-author">
        <i class="material-icons" id="{{ article.url }}-info-author">people</i>
        <div class="mdl-tooltip mdl-tooltip--top" data-mdl-for="{{ article.url }}-info-author">
            Author @ Time
        </div>
        &nbsp;
        {{ article.authors|join(', ') }}
        @
        <time datetime="{{ article.date.isoformat() }}">
            {{ article.locale_date }}
        </time>
    </div>

</div>

{% endmacro %}
